.intro{
    background: url('https://i.postimg.cc/RZc1nnyM/High-resolution-wallpaper-background-ID-77700812861-optimized.jpg') center no-repeat;
    background-size: cover;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-size{
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border: 1px solid black;
}

#custom-card{
    width: 20rem;
    padding: 0;
}

#custom-inputs{
    border: none; 
    background: none;
    width: 100%;
}

textarea{
    resize: none;
}

@media (width <= 48rem) {
    .intro{
        background-position: 90%;
    }
}